<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menu</title>
</head>
<body>
<div>
  <h2>Orders To Fulfill</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Show</th>
      <th>Complete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td>
        <form action="#" th:action="@{/order/getForSeller/{id}
        (id=${order.id})}" method="GET">
          <button type="submit">+</button>
        </form>
      </td>
      <td>
        <form action="#" th:action="@{/order/complete/{id}
        (id=${order.id})}" method="PATCH">
          <button type="submit">o</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <a th:href="@{/manage}">Go Back</a>
</div>
</body>
</html>