<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TeaLands - Tea Discovery Service</title>
</head>
<body>
<main>
  <h1>Discover</h1>
  <div>
    <h2>Input Your Address</h2>
      <form action="#" th:action="@{restaurants/getByAddress}" th:method="GET" th:object="${addressDTO}">
        <div>
          <label>
<!--            kind of an update to empty address, maybe change-->
<!--            Id: <input type="text" placeholder="Field" th:field="*{}"/>-->
          </label>
        </div>
        <div>
          <input type="submit" value="Set address" name="button"/>
        </div>
      </form>
  </div>

  <div>
    <h2>Found Restaurants</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Show</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="restaurant : ${restaurantsByAddressPage}">
        <td th:text="${restaurant.id}"></td>
        <td>
          <form action="#" th:action="@{restaurant/{id}(id=${restaurant.id})}" method="GET">
            <button type="submit">+</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h2>Page</h2>
      <form action="#" th:action="@{restaurants/getByAddress}" th:method="GET" th:object="${addressDTO}">
        <div>
          <label>
            <input type="text" placeholder="PageNumber" th:name = "pageNumber"/>
          </label>
        </div>
        <div>
          <input type="submit" value="Set Page" name="button"/>
        </div>
      </form>
  </div>

  <div>
    <a th:href="@{/order/getByClient/{id}(id=${clientId})}">Your Orders</a>
    <a th:href="@{/manage}">Manage Restaurants (Seller Only)</a>
  </div>
</main>
</body>
</html>