<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menu</title>
</head>
<body>
<div>
<h2>Menu</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menuPosition : ${menuPositions}">
      <td th:text="${menuPosition.id}"></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
<!-- TODO ADD ORDER PURCHASE (somehow add checkboxes at the top and send a list of them here)-->
<!--  if doesnt work stick with one menuPosition per purchase approach...-->
  <h2>Purchase!</h2>
  <form action="#" th:action="@{order/add/}" method="POST">
    <button type="submit">Click to purchase!</button>
  </form>
</div>

<div>
  <a th:href="@{client/restaurant}">Go Back</a>
</div>
</body>
</html>