<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant</title>
</head>
<body>
<div>
  <h2>Restaurant</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Show</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu : ${Page}">
      <td th:text="${menu.id}"></td>
      <td>
        <form action="#" th:action="@{menu/{id}(id=${menu.id})
        (restaurantId=${restaurantId})}" method="GET">
          <button type="submit">+</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Page</h2>
  <form action="#" th:action="@{restaurant/{id}(id=${restaurantId})}" method="GET">
    <div>
      <label>
        <input type="text" placeholder="PageNumber" th:name = "pageNumber"/>
      </label>
    </div>
    <div>
      <input type="submit" value="Set Page" name="button"/>
    </div>
  </form>
</div>

<div>
  <a th:href="@{/discover}">Go Back</a>
</div>
</body>
</html>