<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRUD your Menu</title>
</head>

<body>
<div>
  <h2>Add Restaurant</h2>
  <form action="#" th:action="@{/myMenu/add}" th:method="POST" th:object="${menuPositionDTO}">
    <div>
    </div>
    <div>
      <input type="submit" value="Add Menu Position" name="button"/>
    </div>
  </form>
</div>

<div>
<h2>Your Menu</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myMenuPosition : ${menuPage}">
      <td th:text="${myMenuPosition.getId()}"></td>
      <td>
        <form action="#" th:action="@{myMenuPosition/{id}(id=${myMenuPosition.id})}" method="GET">
          <button type="submit">+</button>
        </form>
      </td>
      <td>
        <form action="#" th:action="@{myMenuPosition/{id}(id=${myMenuPosition.id})}" th:method="DELETE">
          <button type="submit">-</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Page</h2>
  <form action="#" th:action="@{myMenu/{id}(id=${menuId})}" method="GET">
    <div>
      <label>
        <input type="text" placeholder="PageNumber" th:name = "pageNumber"/>
      </label>
    </div>
    <div>
      <input type="submit" value="Set Page" name="button"/>
    </div>
  </form>
</div>

<div>
  <a th:href="@{myRestaurant/{id}(id=${restaurantId})}">Go Back</a>
</div>
</body>
</html>