<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRUD your Restaurant's Menus</title>
</head>

<body>
<h1>Menus</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myMenu : ${restaurantPage}">
      <td th:text="${myMenu.getId()}"></td>
      <td>
        <form action="#" th:action="@{myMenu/{id}(id=${myMenu.id})}" method="GET">
          <button type="submit">+</button>
        </form>
      </td>
      <td>
        <form action="#" th:action="@{myMenu/{id}(id=${myMenu.id})}" th:method="DELETE">
          <button type="submit">-</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Page</h2>
  <form action="#" th:action="@{myRestaurant/{id}(id=${restaurantId})}" method="GET">
    <div>
      <label>
        <input type="text" placeholder="PageNumber" th:name = "pageNumber"/>
      </label>
    </div>
    <div>
      <input type="submit" value="Set Page" name="button"/>
    </div>
  </form>
</div>

<div>
  <a th:href="@{seller/myRestaurants}">Go Back</a>
</div>
</body>
</html>