<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRUD your Restaurant's Menus</title>
</head>

<body>
<div>
  <h2>Add Menu</h2>
  <form action="#"
        th:action="@{/myRestaurant/add
(restaurantId=${restaurantId})}"
        th:method="POST"
        th:object="${menuDTO}">
    <div>
    </div>
    <div>
      <button type="submit">Add Menu</button>
    </div>
  </form>
</div>

<div>
  <h2>Your Restaurant's Menus</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myMenu : ${restaurantPage}">
      <td th:text="${myMenu.getId()}"></td>
      <td>
        <form action="#" th:action="@{/myMenu/get/{id}
        (id=${myMenu.id})(restaurantId=${restaurantId})}" method="GET">
          <button type="submit">+</button>
        </form>
      </td>
      <td>
        <form action="#" th:action="@{/myRestaurant/delete/{id}
        (id=${myMenu.id})(restaurantId=${restaurantId})}" th:method="DELETE">
          <button type="submit">-</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Page</h2>
  <form action="#" th:action="@{/myRestaurant/get/{id}
  (id=${restaurantId})}" method="GET">
    <div>
      <label>
        <input type="text" placeholder="PageNumber" th:name="pageNumber"/>
      </label>
    </div>
    <div>
      <button type="submit">Set Page</button>
    </div>
  </form>
</div>

<div>
  <a th:href="@{/myRestaurants/get/{id}(id=${restaurantId})}">Go Back</a>
</div>
</body>
</html>