<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>SellerCode</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurant : ${restaurantsPage}">
      <td th:text="${restaurant.getId()}"></td>
      <td th:text="${restaurant.getSellerAccountCode()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>